menu "MPR121 Configuration"

	config GPIO_RANGE_MAX
		int
		default 33 if IDF_TARGET_ESP32
		default 46 if IDF_TARGET_ESP32S2
		default 48 if IDF_TARGET_ESP32S3
		default 18 if IDF_TARGET_ESP32C2
		default 19 if IDF_TARGET_ESP32C3

	config I2C_ADDRESS
		hex "I2C address"
		default 0x5A
		help
			I2C address.

	config SCL_GPIO
		int "SCL GPIO number"
		range 0 GPIO_RANGE_MAX
		default 16 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default 6 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2
		default 4
		help
			GPIO number (IOxx) to SCL.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

	config SDA_GPIO
		int "SDA GPIO number"
		range 0 GPIO_RANGE_MAX
		default 17 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default 7 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2
		default 5
		help
			GPIO number (IOxx) to SDA.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

	config IRQ_GPIO
		int "IRQ GPIO number"
		range 0 GPIO_RANGE_MAX
		default 18 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default 8 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C2
		default 15
		help
			GPIO number (IOxx) to IRQ.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

endmenu
